//rlecustomcss
*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    
}

// body{
//     font-family: montserrat;
// }

nav{
    position: fixed;
    top: 0;
    background-color: #ffffff;
    height: 80px;
    width: 100%;
    overflow: hidden;
    box-shadow: 0px 0px 3px rgb(139, 139, 139);
    z-index: 1;
}   


img{
    margin-top: 5px;
    width: 300px;
    transition: all 0.5s;
}

// label.logo{
//     color: white;
//     font-size: 35px;
//     line-height: 80px;
//     padding: 0 100px;
//     font-weight: bold;
//     transition: all 0.5s;
    
// }

nav ul{
    // display: flex;
    float: right;
    margin-right: 20px;
 
}

nav ul li{

    display: inline-block;
    line-height: 80px;
    margin: 0px 5px;
    height: 80px;

    color: rgb(3, 134, 173);
    font-size: 17px;
    padding: 0px 13px;
    border-radius: 0px;
    text-transform: uppercase;   
}



ul{
.home,
.possoftware,
.customsoftware,
.webdevelopment,
.signin{
    background-color: white;
    transition: .5s;
    :hover{
        background-color: rgb(3, 134, 173);
        color: white;
        transition: .3s;
    }
}
}



.checkbtn{
    font-size: 30px;
    color: rgb(18, 111, 139);
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check{
    display: none;
}


//952
@media (max-width: 600px) {
    label.logo{
        font-size: 30px;
        padding-left: 50px;
        transition: all 0.5s;
    }
    img{
        margin-top: 5px;
        padding-left: 3px;
        transition: all 0.5s;
    }

    nav ul li{
        font-size: 16px;
        color: white;
        
    }
    
}

//858
@media (max-width: 1080px) {
    .checkbtn{
        display: block;
        margin-right: 20px;
    }
    ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background-color: rgb(3, 104, 134);
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
        
    }

   


    nav ul li{
        
        
        display: block; 
        color: white;
        font-size: 20px;
        height: 50px;

        
        
    }

    nav{
        
    .home,
    .possoftware,
    .customsoftware,
    .webdevelopment,
    .signin{

        

        transition: all .5s;
            :hover{
                
                background-color: rgb(3, 104, 134)!important;
                color: #f0c70e!important;
                transition: .5s;
                }
            
        }
  
    }
    
    #check:checked ~ ul {
        left: 0px;
    }

    
}

